.container {
    padding: 20px;
  }
  
  .orderList {
    margin-top: 30px;
  }
  
  .orderList ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .orderList ul li {
    margin-bottom: 10px;
  }
  .contentWrapper {
    width: 100%;
    height: 185px;
    position: absolute;
    top: 64px;
    left: 0;
    background: linear-gradient(45deg,#013850,#0773a5)!important;
    z-index: -1;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
  }


  
    
  