.stepperBtn {
  background-color: #015578 !important;
}
.stepperBtn:hover {
  border-color: #015578 !important;
  background-color: #015578 !important;
}

/************ Processing Step's CSS *************/
.ProgressContainer {
  position: relative;
  display: block;
  width: 550px;
  margin:0 auto;
  padding: 15px 0;
}
.CloudIcon {
  width: 50px;
  height: 50px;
  position: absolute;
  left: -70px;
  top: -3px;
}
.ProgressTitle {
  position: absolute;
  top: -8px;
  right: 2px;
  font-size: 15px;
  color: #015578;
  font-weight: 700;
}
.ProgressOff {
  font-weight: 400;
  opacity: 44%;
}

.CloudLoader {
  width: 65px;
  height: 65px;
  position: absolute;
  margin: -25px 10px 10px -78px;
  border: solid 3px #015578;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1.0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 1.0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to { 
      transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
      -webkit-transform: rotate(0deg);
  }
  to { 
      -webkit-transform: rotate(360deg);
  }
}

.ProcessingInstallationMessage {
  font-size: 17px;
  font-weight: 400;
  font-style: italic;
  color: #015578;
}

.HeaderProcessing {
  font-size: 17px;
  font-weight:400;
  color: #015578;
}
.HeaderProcessing span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.HeaderProcessing span:nth-child(2) {
  animation-delay: 0.2s;
}
.HeaderProcessing span:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

/************ Contact Validation CSS ***********/
.contactHeading {
  font-size: 20px;
  font-weight: 400;
  color: #000;
}
.contactP {
  color:#6b6f82;
  padding-top: 5px;
}
.mailIcon, .mobileIcon, .creditCard {
  position: relative;
  display: block;
  margin: 0 auto;
}
.verifiLabel {
  color: #727272;
  font-weight: 400;
  margin-top: 20px;
}
.mobileVerifiLabel {
  color: #727272;
  font-weight: 400;
  margin-top: 20px;
  margin-top: 13px;
}
.mobileVerifiP{
padding-top: 0px !important;
}
.mailBorderRight {
border-right: 2px solid #E4E5F9;
}
.rowp {
  padding: 0 100px !important;
}
.commonBtn {
  background: linear-gradient(45deg, #015578, #6DCCDD);
}
.commonBtn:hover {
  background: linear-gradient(45deg, #015578, #6DCCDD);
}
.creditCardContent {
  position: absolute;
  left: 0%;
  right: 0%;
  text-align: center;
  margin-top: 25px;
}
.otpnum input[type=number]::-webkit-inner-spin-button, 
.otpnum input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}

.fileLabel label {
  width: 100%;
  cursor: pointer;
}

/*********** Rsponsive CSS ***********/
@media only screen and (max-width: 425px) { 
  .ProgressContainer {
    width: 335px;
  }
  .RsProgress {
    width: 260px;
    margin-left: 75px;
  }
  .CloudLoader {
    margin: -25px 10px 10px -7px;
  }
  .CloudIcon {
    left: 1px;
  }
}
@media only screen and (max-width: 600px) {
  .rowp {
      padding: 0 15px !important;
  }
  .mailBorderRight {
      border-right: 0px;
  }
  .creditCardContent{
      position: relative;
      margin-top: 0px;
  }
  .xsTop {
     margin-top: 45px;
  }
}
@media only screen and (min-width:601px) and (max-width:768px) { 
  .creditCardContent {
      position: relative;
      margin-top: 0px;
  }
  .xsTop {
      margin-top: 45px;
  }
}
@media only screen and (min-width:769px) and (max-width:1024px) {
  .rowp {
      padding: 0 50px !important;
  }
}