html,
body {
  min-height: 100%;
}
div,
p,
h4,
h5,
h6,
span,
button,
table,
td,
th,
ul,
li,
a {
  font-family: "Muli", sans-serif !important;
}
#__next {
  height: 100%;
}

.alice-carousel {
  overflow: hidden !important;
}
.alice-carousel__stage-item {
  padding: 0 10px !important;
}
.alice-carousel__dots-item:not(.__custom):not(:last-child) {
  margin-right: 12px;
}
.alice-carousel__dots-item:not(.__custom) {
  width: 10px !important;
  height: 10px !important;
  background-color: #d6d6d6 !important;
}
.alice-carousel__dots-item:not(.__custom):hover,
.alice-carousel__dots-item:not(.__custom).__active {
  background-color: #083360 !important;
}
.css-3zng8w-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  background-color: rgba(0, 0, 0, 0.12) !important;
}
.css-z634fe-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  background-color: rgba(0, 0, 0, 0.12) !important;
}

/* code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
} */
code:not([class*="language-"]):before,
code:not([class*="language-"]):after {
  content: "`";
}
code[class*="language-"] {
  padding: 0;
}
.rccs__card {
  width: 100% !important;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar:horizontal {
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 8px;
  box-shadow: inset 0 0 6px #ccc;
}

.MuiDialogContent-root {
  width: 600px !important;
  overflow-x: hidden !important;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: 600px !important;
  width: 600px !important;
  overflow-x: hidden !important;
}
.css-1u7vgci-MuiButtonBase-root-MuiButton-root {
  background-image: linear-gradient(45deg, #0288d1, #26c6da) !important;
}
.css-d0ukip-MuiButtonBase-root-MuiButton-root {
  color: #26c6da !important;
}

button.Mui-disabled {
  background-image: none !important;
}
/* button.MuiButtonBase-root.Mui-disabled {
  background-color: rgba(0, 0, 0, 0.12);
} */
@media only screen and (max-width: 425px) {
  .rccs__card {
    height: 110px !important;
  }
  .rccs__name {
    font-size: 10px !important;
  }
  .rccs__number {
    font-size: 12px !important;
  }
  .rccs__expiry__value {
    font-size: 9px !important;
  }
  .rccs__chip {
    width: 25px !important;
  }
}

/*
:root {
  --primary: #f1f1f1;
  --secondary: rgba(120, 123, 124, 0.4);
  --tertiary: rgba(96, 98, 99, 0.6);
}


* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}


*::-webkit-scrollbar {
  width: 17px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}
*/
